## Diabetes prediction project using dataset of 2021

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diabetes_2021.csv')
df.shape

(236378, 22)

In [3]:
df.head(10)

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,0,1.0,1,15.0,1.0,0.0,0.0,0,1,...,1,0.0,5.0,10.0,20.0,0.0,0,11,4.0,5.0
1,2.0,1,0.0,1,28.0,0.0,0.0,1.0,0,1,...,1,0.0,2.0,0.0,0.0,0.0,0,11,4.0,3.0
2,2.0,1,1.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,10.0,0.0,0.0,0,9,4.0,7.0
3,2.0,0,1.0,1,29.0,0.0,1.0,1.0,1,1,...,1,0.0,5.0,0.0,30.0,1.0,1,12,3.0,4.0
4,0.0,0,0.0,1,24.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,0.0,1.0,1,13,5.0,6.0
5,0.0,1,0.0,1,40.0,1.0,0.0,0.0,1,1,...,1,0.0,3.0,5.0,25.0,1.0,0,10,4.0,8.0
6,0.0,1,1.0,1,27.0,1.0,0.0,0.0,0,0,...,1,0.0,4.0,25.0,0.0,0.0,0,10,5.0,3.0
7,2.0,0,0.0,1,24.0,0.0,0.0,1.0,0,0,...,1,0.0,4.0,0.0,0.0,0.0,1,12,6.0,7.0
8,0.0,1,1.0,1,30.0,0.0,0.0,0.0,0,1,...,1,0.0,2.0,0.0,0.0,0.0,0,7,4.0,6.0
9,0.0,1,1.0,1,36.0,1.0,0.0,0.0,0,0,...,1,0.0,4.0,0.0,0.0,0.0,1,10,4.0,8.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236378 entries, 0 to 236377
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          236378 non-null  float64
 1   HighBP                236378 non-null  int64
 2   HighChol              236378 non-null  float64
 3   CholCheck             236378 non-null  int64
 4   BMI                   236378 non-null  float64
 5   Smoker                236378 non-null  float64
 6   Stroke                236378 non-null  float64
 7   HeartDiseaseorAttack  236378 non-null  float64
 8   PhysActivity          236378 non-null  int64
 9   Fruits                236378 non-null  int64
 10  Veggies               236378 non-null  int64
 11  HvyAlcoholConsump     236378 non-null  int64
 12  AnyHealthcare         236378 non-null  int64
 13  NoDocbcCost           236378 non-null  float64
 14  GenHlth               236378 non-null  float64
 15  MentHlth              236378 non-null  float64
 16  PhysHlth              236378 non-null  float64
 17  DiffWalk              236378 non-null  float64
 18  Sex                   236378 non-null  int64
 19  Age                   236378 non-null  int64
 20  Education             236378 non-null  float64
 21  Income                236378 non-null  float64
dtypes: float64(13), int64(9)
memory usage: 39.7 MB

In [13]:
# verify if there are any numbers with decimal values in the 
# columns that are dtype float64
has_decimal_counter = 0
no_decimal_column_list = []
for column in df.columns:
    if df[column].dtype == 'float64':
        has_decimal = any(x != int(x) for x in df[column])
        if has_decimal:
            print("Column", column, "contains numbers with decimals.")
            has_decimal_counter +=1
        else:
            print("Column", column, "DOES NOT contain numbers with decimals.")
            no_decimal_column_list.append(column)

print(f"There are {has_decimal_counter} columns with decimal values in the df.")

Column Diabetes_012 DOES NOT contain numbers with decimals.
Column HighChol DOES NOT contain numbers with decimals.
Column BMI DOES NOT contain numbers with decimals.
Column Smoker DOES NOT contain numbers with decimals.
Column Stroke DOES NOT contain numbers with decimals.
Column HeartDiseaseorAttack DOES NOT contain numbers with decimals.
Column NoDocbcCost DOES NOT contain numbers with decimals.
Column GenHlth DOES NOT contain numbers with decimals.
Column MentHlth DOES NOT contain numbers with decimals.
Column PhysHlth DOES NOT contain numbers with decimals.
Column DiffWalk DOES NOT contain numbers with decimals.
Column Education DOES NOT contain numbers with decimals.
Column Income DOES NOT contain numbers with decimals.
There are 0 columns with decimal values in the df.

In [ ]:
# verify the columns of dtype float64 that have no decimal values
print(no_decimal_column_list)

In [14]:
# turn all variables in dtype int64
for column in no_decimal_column_list:
    df[column] = df[column].astype('int64')

print(df.dtypes)

Diabetes_012            int64
HighBP                  int64
HighChol                int64
CholCheck               int64
BMI                     int64
Smoker                  int64
Stroke                  int64
HeartDiseaseorAttack    int64
PhysActivity            int64
Fruits                  int64
Veggies                 int64
HvyAlcoholConsump       int64
AnyHealthcare           int64
NoDocbcCost             int64
GenHlth                 int64
MentHlth                int64
PhysHlth                int64
DiffWalk                int64
Sex                     int64
Age                     int64
Education               int64
Income                  int64
dtype: object